<nav class="navbar navbar-expand-sm navbar-dark flex-sm-nowrap flex-wrap sticky-top">
  <div class="container-fluid">
    <a class="d-flex w-25 me-auto" href="#">Mish :3</a>
    <div class="collapse navbar-collapse flex-grow-1 justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
          <app-redirect-button class="active" text="Home" routerLink="/"></app-redirect-button>
          <app-redirect-button text="My Lil' Apps" routerLink="apps"></app-redirect-button>
          <app-redirect-button text="My Music :3" routerLink="music"></app-redirect-button>
      </ul>
    </div>
    <div class="d-flex w-25 me-auto">
    </div>
  </div>
</nav>