<div class="container screen-height pt-4">
    <div class="row h-100">
        <div class="col-3">
            <img><img src="../assets/images/thumbs_up.png" alt="a very cute enby doing a thumbs up was supposed to be here">
        </div>
        <div class="col-6">
            <app-textbox textContent="

            Fugiat eveniet nulla ipsa voluptatibus et necessitatibus illo. Eaque sit velit nostrum consequatur quis labore ut. Reprehenderit facilis non consectetur et non nihil. Molestiae voluptate neque aperiam minus quia similique vel.
            
            Eos possimus autem est sed vitae assumenda dolores explicabo. Voluptatem corrupti dolorum amet aut. Et deserunt tempora eveniet recusandae. Consequuntur architecto reiciendis vel dicta et. Hic facilis dolorum doloremque autem est ex.
            
            Sint quis suscipit quia praesentium fugit nobis. Quisquam expedita consequatur totam exercitationem ratione fugit id. Quia nesciunt voluptatibus possimus praesentium facere error eligendi. Magni quasi dolorum unde neque amet molestiae in.
            
            Dolores et pariatur molestias. Aliquid qui aperiam doloremque aut voluptatem. Accusantium est accusantium ipsum. Unde sed voluptatem odio voluptatem enim sed. Aut quo aut non possimus rem. Nihil laborum ab et.
            
            Rerum eum odit dolorem. Voluptatibus doloremque ad id labore ut. Commodi ut sunt quibusdam.
            "></app-textbox>
        </div>
        <div class="col-3">
            <img><img src="../assets/images/thumbs_up.png" alt="a very cute enby doing a thumbs up was supposed to be here">
        </div>
    </div>
</div>